# Copyright 2021 Cloudera, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Setup FreeIPA Client
  ansible.builtin.include_role:
    name: freeipa.ansible_freeipa.ipaclient
  vars:
    state: present
    ipaserver_realm: "{{ krb5_realm }}"
    ipaserver_domain: "{{ krb5_domain }}"
    ipaclient_servers: "{{ groups['krb5_server'] }}"
  when: "krb5_kdc_type == 'Red Hat IPA' and 'krb5_server' in groups"

- name: Set sssd to enumerate users and groups
  lineinfile:
    path: /etc/sssd/sssd.conf
    insertafter: "^\\[domain/.+\\]"
    regexp: "^enumerate"
    line: "enumerate = True"
  when: "krb5_kdc_type == 'Red Hat IPA' and 'krb5_server' in groups"
  notify:
    - restart sssd