---
DAS:
  SERVICEWIDE:
    data_analytics_studio_database_host: {{ databases.DAS.host }}
    data_analytics_studio_database_type: {{ databases.DAS.type | cloudera.cluster.format_database_type }}
    data_analytics_studio_database_port: {{ databases.DAS.port }}
    data_analytics_studio_database_name: {{ databases.DAS.name }}
    data_analytics_studio_database_username: {{ databases.DAS.user }}
    data_analytics_studio_database_password: {{ databases.DAS.password }}
RANGER:
  SERVICEWIDE:
    ranger_database_host: {{ databases.RANGER.host }}
    ranger_database_port: {{ databases.RANGER.port }}
    ranger_database_type: {{ databases.RANGER.type | cloudera.cluster.format_database_type }}
    ranger_database_name: {{ databases.RANGER.name }}
    ranger_database_user: {{ databases.RANGER.user }}
    ranger_database_password: {{ databases.RANGER.password }}
RANGER_RMS:
  SERVICEWIDE:
    ranger_rms_database_host: {{ databases.RANGER.host }}
    ranger_rms_database_port: {{ databases.RANGER.port }}
    ranger_rms_database_type: {{ databases.RANGER.type | cloudera.cluster.format_database_type }}
    ranger_rms_database_name: {{ databases.RANGER.name }}
    ranger_rms_database_user: {{ databases.RANGER.user }}
    ranger_rms_database_password: {{ databases.RANGER.password }}
SCHEMAREGISTRY:
  SERVICEWIDE:
    database_host: {{ databases.SCHEMAREGISTRY.host }}
    database_port: {{ databases.SCHEMAREGISTRY.port }}
    database_type: {{ databases.SCHEMAREGISTRY.type | cloudera.cluster.format_database_type }}
    database_name: {{ databases.SCHEMAREGISTRY.name }}
    database_user: {{ databases.SCHEMAREGISTRY.user }}
    database_password: {{ databases.SCHEMAREGISTRY.password }}
SQL_STREAM_BUILDER:
  SERVICEWIDE:
    database_host: {{ databases.SQL_STREAM_BUILDER.host }}
    database_port: {{ databases.SQL_STREAM_BUILDER.port }}
    database_type: {{ databases.SQL_STREAM_BUILDER.type | cloudera.cluster.format_database_type }}
    database_schema: {{ databases.SQL_STREAM_BUILDER.name }}
    database_user: {{ databases.SQL_STREAM_BUILDER.user }}
    database_password: {{ databases.SQL_STREAM_BUILDER.password }}
  MATERIALIZED_VIEW_ENGINE:
    ssb.mve.datasource.url: jdbc:{{ databases.SQL_STREAM_BUILDER_MVE.type | cloudera.cluster.format_database_type }}://{{ databases.SQL_STREAM_BUILDER_MVE.host }}:{{ databases.SQL_STREAM_BUILDER_MVE.port }}/{{ databases.SQL_STREAM_BUILDER_MVE.name }}
    ssb.mve.datasource.username: {{ databases.SQL_STREAM_BUILDER_MVE.user }}
    ssb.mve.datasource.password: {{ databases.SQL_STREAM_BUILDER_MVE.password }}
STREAMS_MESSAGING_MANAGER:
  SERVICEWIDE:
    smm_database_host: {{ databases.STREAMS_MESSAGING_MANAGER.host }}
    smm_database_port: {{ databases.STREAMS_MESSAGING_MANAGER.port }}
    smm_database_type: {{ databases.STREAMS_MESSAGING_MANAGER.type | cloudera.cluster.format_database_type }}
    smm_database_name: {{ databases.STREAMS_MESSAGING_MANAGER.name }}
    smm_database_user: {{ databases.STREAMS_MESSAGING_MANAGER.user }}
    smm_database_password: {{ databases.STREAMS_MESSAGING_MANAGER.password }}
QUERY_PROCESSOR:
  SERVICEWIDE:
    query_processor_database_host: {{ databases.QUERY_PROCESSOR.host }}
    query_processor_database_port: {{ databases.QUERY_PROCESSOR.port }}
    query_processor_database_type: {{ databases.QUERY_PROCESSOR.type | cloudera.cluster.format_database_type }}
    query_processor_database_name: {{ databases.QUERY_PROCESSOR.name }}
    query_processor_database_username: {{ databases.QUERY_PROCESSOR.user }}
    query_processor_database_password: {{ databases.QUERY_PROCESSOR.password }}
QUEUEMANAGER:
  SERVICEWIDE:
    queuemanager_database_host: {{ databases.QUEUEMANAGER.host }}
    queuemanager_database_port: {{ databases.QUEUEMANAGER.port }}
    queuemanager_database_type: {{ databases.QUEUEMANAGER.type | cloudera.cluster.format_database_type }}
    queuemanager_database_name: {{ databases.QUEUEMANAGER.name }}
    queuemanager_database_user: {{ databases.QUEUEMANAGER.user }}
    queuemanager_database_password: {{ databases.QUEUEMANAGER.password }}
