---
ATLAS:
  SERVICEWIDE:
    hbase_service: hbase
    hdfs_service: hdfs
    kafka_service: kafka
    ranger_service: ranger
    solr_service: infra_solr

HBASE:
  SERVICEWIDE:
    hdfs_service: hdfs
    zookeeper_service: zookeeper

HDFS:
  SERVICEWIDE:
    zookeeper_service: zookeeper

HIVE:
  SERVICEWIDE:
    mapreduce_yarn_service: yarn
{% if 'SENTRY' in cluster.services %}
    sentry_service: sentry
{% endif %}
{% if 'RANGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    ranger_service: ranger
{% endif %}
{% if 'ATLAS' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    atlas_service: atlas
{% endif %}
{% if cloudera_runtime_version is version('7.0.0','<=') %}
    spark_on_yarn_service: spark_on_yarn
{% endif %}
    zookeeper_service: zookeeper

HIVE_ON_TEZ:
  SERVICEWIDE:
    mapreduce_yarn_service: yarn
    hms_connector: hive
    hdfs_service: hdfs
{% if 'ATLAS' in cluster.services %}
    atlas_service: atlas
{% endif %}
{% if 'RANGER' in cluster.services %}
    ranger_service: ranger
{% endif %}
    tez_service: tez
    zookeeper_service: zookeeper

HUE:
  SERVICEWIDE:
{% if 'SOLR' in cluster.services %}
    solr_service: solr
{% endif %}
{% if cloudera_runtime_version is version('7.0.0','>=') and not (cdh_cdp_upgrade|default(false)|bool) %}
    hms_service: hive
    hive_service: hive_on_tez
{% else %}
    hive_service: hive
{% endif %}
{% if 'IMPALA' in cluster.services %}
    impala_service: impala
{% endif %}
    oozie_service: oozie
{% if 'SENTRY' in cluster.services %}
    sentry_service: sentry
{% endif %}
{% if 'ATLAS' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    atlas_service: atlas
{% endif %}
    zookeeper_service: zookeeper

FLINK:
  SERVICEWIDE:
    hdfs_service: hdfs
    yarn_service: yarn
    zookeeper_service: zookeeper
{% if 'HIVE' in cluster.services %}
    hive_service: hive
{% endif %}
{% if 'ATLAS' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    atlas_service: atlas
{% endif %}

IMPALA:
  SERVICEWIDE:
    hdfs_service: hdfs
    hive_service: hive
{% if 'SENTRY' in cluster.services %}
    sentry_service: sentry
{% endif %}
{% if 'RANGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    ranger_service: ranger
{% endif %}
{% if 'ATLAS' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    atlas_service: atlas
{% endif %}

INFRA_SOLR:
  SERVICEWIDE:
    hdfs_service: hdfs
    zookeeper_service: zookeeper

KAFKA:
  SERVICEWIDE:
{% if 'HDFS' in cluster.services %}
    hdfs_service: hdfs
{% endif %}
{% if 'RANGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    ranger_service: ranger
{% endif %}
    zookeeper_service: zookeeper

KS_INDEXER:
  SERVICEWIDE:
    solr_service: solr

NIFI:
  SERVICEWIDE:
    hdfs_service: hdfs
    zookeeper_service: zookeeper
{% if 'KAFKA' in cluster.services %}
    kafka_service: kafka
{% endif %}

OOZIE:
  hive_service: hive
  mapreduce_yarn_service: yarn
  spark_on_yarn_service: spark_on_yarn
  zookeeper_service: zookeeper

QUEUEMANAGER:
  SERVICEWIDE:
    zookeeper_service: zookeeper

RANGER:
  SERVICEWIDE:
    solr_service: infra_solr
    hdfs_service: hdfs

SENTRY:
  SERVICEWIDE:
    hdfs_service: hdfs
    zookeeper_service: zookeeper

SOLR:
  SERVICEWIDE:
{% if 'RANGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    ranger_service: ranger
{% endif %}
    hdfs_service: hdfs
    zookeeper_service: zookeeper

SPARK_ON_YARN:
  SERVICEWIDE:
    yarn_service: yarn
{% if 'ATLAS' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    atlas_service: atlas
{% endif %}

SPARK2_ON_YARN:
  SERVICEWIDE:
    yarn_service: yarn
{% if 'HBASE' in cluster.services %}
    hbase_service: hbase
{% endif %}
{% if 'HIVE' in cluster.services %}
    hive_service: hive
{% endif %}

SPARK3_ON_YARN:
  SERVICEWIDE:
    yarn_service: yarn
{% if 'HBASE' in cluster.services %}
    hbase_service: hbase
{% endif %}

SQL_STREAM_BUILDER:
  SERVICEWIDE:
    flink_service: flink
    kafka_service: kafka
{% if 'HIVE' in cluster.services %}
    hive_service: hive
{% endif %}
{% if 'KNOX' in cluster.services %}
    knox_service: knox
{% endif %}

{% if 'LIVY_FOR_SPARK3' in cluster.services %}
LIVY_FOR_SPARK3:
  SERVICEWIDE:
    yarn_service: yarn
    spark3_on_yarn_service: spark3_on_yarn
{% endif %}

TEZ:
  SERVICEWIDE:
    yarn_service: yarn

YARN:
  SERVICEWIDE:
    hdfs_service: hdfs
    zookeeper_service: zookeeper
{% if 'RANGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    ranger_service: ranger
{% endif %}
{% if 'QUEUEMANAGER' in cluster.services and not (cdh_cdp_upgrade|default(false)|bool) %}
    queuemanager_service: queuemanager
{% endif %}