---
CORE_SETTINGS:
  SERVICEWIDE:
    hadoop_secure_web_ui: true
    hadoop_security_authentication: kerberos
    hadoop_security_authorization: true
HBASE:
  SERVICEWIDE:
    hbase_restserver_security_authentication: kerberos
NIFI:
  SERVICEWIDE:
    kerberos.auth.enabled: true
NIFIREGISTRY:
  SERVICEWIDE:
    kerberos.auth.enabled: true
SPARK_ON_YARN:
  SERVICEWIDE:
    spark_authenticate: true
  SPARK_YARN_HISTORY_SERVER:
    history_server_spnego_enabled: true
  GATEWAY:
    spark_io_encryption_enabled: true
    spark_network_encryption_enabled: true
