---
OOZIE:
  OOZIE_SERVER:
    oozie_zookeeper_https_keystore_file: {{ tls_keystore_path_generic }}
    oozie_zookeeper_https_keystore_password: {{ tls_keystore_password }}
    oozie_zookeeper_https_truststore_file: {{ tls_truststore_path }}
    oozie_zookeeper_https_truststore_password: {{ tls_truststore_password }}
