#!/bin/bash -x

PROCESS_PATH=$(ls -1dt /var/run/cloudera-scm-agent/process/*-yarn-RESOURCEMANAGER | head -1)/
FAIR_SCHEDULER=${PROCESS_PATH}/fair-scheduler.xml
CORE_SITE=${PROCESS_PATH}/core-site.xml
YARN_SITE=${PROCESS_PATH}yarn-site.xml

TOTAL_VCORES={{ yarn_cpus }}
TOTAL_MEMORY={{ yarn_memory }}

re='^[+]?\d+([.]\d+)?$'

if ! [[ TOTAL_VCORES =~ $re ]] && [[ TOTAL_MEMORY =~ $re ]]
then

  KEYTAB=$(ls -1dt /var/run/cloudera-scm-agent/process/*-yarn-RESOURCEMANAGER | head -1)/yarn.keytab
  PRINC_NAME=$(klist -kt ${KEYTAB} | grep yarn | awk '{print $4;}' | tail -1)

  kinit -kt ${KEYTAB} ${PRINC_NAME}

  if [[ {{ yarn_web_tls }} ]]
  then
    PROTOCOL=https
  else
    PROTOCOL=http
  fi

  CLUSTER_METRICS=$(curl -u u:p --negotiate ${PROTOCOL}://{{ groups.yarn_resourcemanager | first }}:8090/ws/v1/cluster/metrics)
  if [[ $CLUSTER_METRICS =~ "standby" ]]
  then
    CLUSTER_METRICS=$(curl -u u:p --negotiate ${PROTOCOL}://{{ groups.yarn_resourcemanager | last }}:8090/ws/v1/cluster/metrics)
  fi

  TOTAL_VCORES=$(echo ${CLUSTER_METRICS} | grep -oP 'totalVirtualCores\":([0-9]*)' | cut -d : -f 2)
  TOTAL_MEMORY=$(echo ${CLUSTER_METRICS} | grep -oP 'totalMB\":([0-9]*)' | cut -d : -f 2)

fi

if ! [[ TOTAL_VCORES =~ $re ]] && [[ TOTAL_MEMORY =~ $re ]]
then
  RESOURCE_OPTS="--cluster-resource memory-mb=${TOTAL_MEMORY},vcores=${TOTAL_VCORES}"
else
  RESOURCE_OPTS=""
fi

mkdir fs2cs

cp ${FAIR_SCHEDULER} fs2cs/fair-scheduler.xml
cp ${CORE_SITE} fs2cs/core-site.xml

/opt/cloudera/parcels/CDH-{{ new_parcel_version }}/bin/yarn fs2cs ${RESOURCE_OPTS}  --no-terminal-rule-check --yarnsiteconfig ${YARN_SITE} --fsconfig $(realpath fs2cs/fair-scheduler.xml) --output-directory {{ fs2cs_temp_dir }}

exit $?