ACCUMULO16:
  - ACCUMULO16_GC
  - ACCUMULO16_MASTER
  - ACCUMULO16_MONITOR
  - ACCUMULO16_TRACER
  - ACCUMULO16_TSERVER
ACCUMULO_C6:
  - ACCUMULO_GC
  - ACCUMULO_MASTER
  - ACCUMULO_MONITOR
  - ACCUMULO_TRACER
  - ACCUMULO_TSERVER
