ADLS_CONNECTOR:
AWS_S3:
FLUME:
  - AGENT
HBASE:
  - GATEWAY
  - HBASERESTSERVER
  - HBASETHRIFTSERVER
  - MASTER
  - REGIONSERVER
HDFS:
  - BALANCER
  - DATANODE
  - FAILOVERCONTROLLER
  - GATEWAY
  - HTTPFS
  - JOURNALNODE
  - NAMENODE
  - NFSGATEWAY
  - SECONDARYNAMENODE
HIVE:
  - GATEWAY
  - HIVEMETASTORE
  - HIVESERVER2
  - WEBHCAT
HUE:
  - HUE_LOAD_BALANCER
  - HUE_SERVER
  - KT_RENEWER
IMPALA:
  - CATALOGSERVER
  - IMPALAD
  - STATESTORE
ISILON:
  - GATEWAY
KMS:
  - KMS
KS_INDEXER:
  - HBASE_INDEXER
KUDU:
  - KUDU_MASTER
  - KUDU_TSERVER
LUNA_KMS:
  - HSMKP_LUNA
  - HSMKP_METASTORE_LUNA
MAPREDUCE:
  - GATEWAY
  - FAILOVERCONTROLLER
  - JOBTRACKER
  - TASKTRACKER
OOZIE:
  - OOZIE_SERVER
SENTRY:
  - GATEWAY
  - SENTRY_SERVER
SOLR:
  - GATEWAY
  - SOLR_SERVER
SPARK:
  - GATEWAY
  - SPARK_HISTORY_SERVER  
  - SPARK_MASTER
  - SPARK_WORKER
SPARK_ON_YARN:
  - GATEWAY
  - SPARK_YARN_HISTORY_SERVER
SQOOP:
  - SQOOP_SERVER
SQOOP_CLIENT:
  - GATEWAY
THALES_KMS:
  - HSMKP_METASTORE_THALES
  - HSMKP_THALES
YARN:
  - GATEWAY
  - JOBHISTORY
  - NODEMANAGER
  - RESOURCEMANAGER
ZOOKEEPER:
  - SERVER
