WXM:
  - DBUS_API_SERVICE
  - SIGMA_ADB_SERVICE
  - SIGMAADMIN_API_SERVICE
  - SIGMA_API_SERVICE
  - SIGMA_BASELINE_SERVICE
  - SIGMA_DBUS_SERVICE
  - SIGMA_ENTITIES_SERVICE
  - SIGMA_PIPELINES_SERVICE
  - SIGMA_SDX_SERVICE
  - THUNDERHEAD_SIGMA_CONSOLE
