[mysqld]
log_bin_trust_function_creators = 1
{% if database_tls %}
# SSL configuration
ssl_ca = {{ tls_chain_path }}
ssl_cert = {{ tls_cert_path_generic }}
ssl_key = {{ tls_key_path_plaintext_generic }}
{% if database_version is version('8.0','>=') %}
require_secure_transport = {{ mysql_require_secure_transport | default('OFF') }}
{% endif %}
{% if database_version is version('10.5.2','>=') %}
require_secure_transport = {{ mysql_require_secure_transport | default('OFF') }}
{% endif %}
{% if mysql_ssl_cipher is defined  %}
ssl_cipher = {{ mysql_ssl_cipher }}
{% endif %}
{% if mysql_ssl_crl is defined %}
ssl_crl = {{ mysql_ssl_crl }}
{% endif %}
{% if mysql_ssl_crlpath is defined  %}
ssl_crlpath = {{ mysql_ssl_crlpath  }}
{% endif %}
{% if mysql_tls_version is defined %}
tls_version = {{ mysql_tls_version }}
{% endif %}
{% endif %}
