---
HIVE:
  SERVICEWIDE:
    hive_metastore_database_host: {{ definition.databases.HIVE.host }}
    hive_metastore_database_port: {{ definition.databases.HIVE.port }}
    hive_metastore_database_type: {{ definition.databases.HIVE.type | format_database_type }}
    hive_metastore_database_name: {{ definition.databases.HIVE.name }}
    hive_metastore_database_user: {{ definition.databases.HIVE.user }}
    hive_metastore_database_password: {{ definition.databases.HIVE.password }}
HUE:
  SERVICEWIDE:
    database_host: {{ definition.databases.HUE.host }}
    database_port: {{ definition.databases.HUE.port }}
    database_type: {{ definition.databases.HUE.type | format_database_type }}
    database_name: {{ definition.databases.HUE.name }}
    database_user: {{ definition.databases.HUE.user }}
    database_password: {{ definition.databases.HUE.password }}
OOZIE:
  OOZIE_SERVER:
    oozie_database_host: {{ definition.databases.OOZIE.host | append_database_port(definition.databases.OOZIE.port | string) }}
    oozie_database_type: {{ definition.databases.OOZIE.type | format_database_type }}
    oozie_database_name: {{ definition.databases.OOZIE.name }}
    oozie_database_user: {{ definition.databases.OOZIE.user }}
    oozie_database_password: {{ definition.databases.OOZIE.password }}
DAS:
  SERVICEWIDE:
    # no type selection in 7.0.x -- assumes postgresql
    data_analytics_studio_database_host: {{ definition.databases.DAS.host }}
    data_analytics_studio_database_port: {{ definition.databases.DAS.port }}
    data_analytics_studio_database_name: {{ definition.databases.DAS.name }}
    data_analytics_studio_database_username: {{ definition.databases.DAS.user }}
    data_analytics_studio_database_password: {{ definition.databases.DAS.password }}
RANGER:
  RANGER_ADMIN:
    ranger_database_host: {{ definition.databases.RANGER.host | append_database_port(definition.databases.RANGER.port | string) }}
    ranger_database_type: {{ definition.databases.RANGER.type | format_database_type('RANGER') }}
    ranger_database_name: {{ definition.databases.RANGER.name }}
    ranger_database_user: {{ definition.databases.RANGER.user }}
    ranger_database_password: {{ definition.databases.RANGER.password }}
SENTRY:
  SERVICEWIDE:
    sentry_server_database_host: {{ definition.databases.SENTRY.host }}
    sentry_server_database_port: {{ definition.databases.SENTRY.port }}
    sentry_server_database_type: {{ definition.databases.SENTRY.type  | format_database_type }}
    sentry_server_database_name: {{ definition.databases.SENTRY.name }}
    sentry_server_database_user: {{ definition.databases.SENTRY.user }}
    sentry_server_database_password: {{ definition.databases.SENTRY.password }}
