---
DOCKER:
  SERVICEWIDE:
    docker_images_destination_registry_user: registry-user
ECS:
  SERVICEWIDE:
    k8s_webui_secret_admin_token: ecs-k8s_webui_secret_admin_token
    cp_prometheus_ingress_user: cloudera-manager
    infra_prometheus_ingress_user: cloudera-manager
    longhorn_replication: 1
    lsoDataPath: /ecs/storage
    app_domain: "{{ cluster.application_domain }}"
