{
{% set cluster_type = cluster.type | default('base') %}
{% set template_dir = (cluster_type == 'kts') | ternary('kts', 'base') %}
  "cdhVersion" : "{{ cloudera_runtime_version }}",
  "displayName" : "{{ cluster.name }}",
  "cmVersion" : "{{ cloudera_manager_version }}",
  "repositories" : {{ cluster.repositories | to_json }},
  "products" : {{ products | to_json }},
  "services" : {% include 'cluster_template/' + template_dir + '/services.j2' %},
  "hostTemplates" : {%- include 'cluster_template/' + template_dir + '/hostTemplates.j2' -%},
  "instantiator" : {%- include 'cluster_template/' + template_dir + '/instantiator.j2' -%}{%- if cloudera_manager_version is version('6.2.0','>=') -%},
  "clusterSpec" : {%- include 'cluster_template/common/clusterSpec.j2' -%}{%- endif -%}
}
