{%- set parcel_repos = [] -%}
{%- for parcel_repo in definition.cluster.repositories -%}
  {%- if '/p/' in parcel_repo -%}
    {%- set parcel_repo_auth = parcel_repo | regex_replace('^(?P<proto>http[s]?://)', '\\g<proto>'+parcel_repo_username+':'+parcel_repo_password+'@') -%}
    {{ parcel_repos.append(parcel_repo_auth) }}
  {%- else -%}
    {{ parcel_repos.append(parcel_repo) }}
  {%- endif -%}
{%- endfor -%}
{{ parcel_repos | to_json }}
