[
  {%- set service_joiner = joiner(",") -%}
  {%- for service_type in definition.cluster.services -%}
  {%- set service_role_types = role_mappings[service_type] -%}
  {{ service_joiner() }}
  {
    "refName": "{{ service_type }}-1",
    "serviceType": "{{ service_type }}",
    {% set config_sep = joiner(",") -%}
    {%- if merged_configs[service_type]['SERVICEWIDE'] is mapping
        and not merged_configs[service_type]['SERVICEWIDE'] is none -%}
    "serviceConfigs": [
    {%- for (k,v) in merged_configs[service_type]['SERVICEWIDE'].items() -%}
    {{ config_sep() }}
      {
        "name": "{{ k }}",
        "variable": "{{ service_type }}_SERVICEWIDE_{{ k | upper }}"
      }
    {%- endfor -%}
    ],
    {% else -%}
    "serviceConfigs": [],
    {% endif -%}
    "roleConfigGroups": [
    {%- set role_group_sep = joiner(",") -%}
    {%- for role_type in service_role_types -%}
    {{ role_group_sep() }}
      {
        "refName": "{{ service_type }}-1-{{ role_type }}-BASE",
        "roleType": "{{ role_type }}",
        {% set config_sep = joiner(",") -%}
        {%- if merged_configs[service_type] is defined
          and merged_configs[service_type][role_type] is mapping -%}
        "configs": [
        {%- for (k,v) in merged_configs[service_type][role_type].items() -%}
        {{ config_sep() }}
        {
          "name": "{{ k }}",
          "variable": "{{ service_type }}_{{ role_type }}_{{ k | upper }}"
        }
        {%- endfor -%}],
        {%- else -%}
        "configs": [],
        {% endif -%}
        "base": true
      }
    {%- endfor -%}
    ]
  }
  {%- endfor -%}
]