# Copyright 2023 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

- name: Download parcel manifest information
  delegate_to: "{{ groups.cloudera_manager[0] if 'cloudera_manager' in groups else 'localhost' }}"
  uri:
    url: "{{ repository | regex_replace('/?$','') + '/manifest.json' }}"
    status_code: 200
    return_content: yes
    url_username: "{{ parcel_repo_username | default(omit) }}"
    url_password: "{{ parcel_repo_password | default(omit) }}"
  run_once: true
  register: manifests
  loop: "{{ repositories }}"
  loop_control:
    loop_var: repository
  check_mode: no

- debug:
    msg: "This Play Host OS Distro is {{ cluster_os_distribution }}"
    verbosity: 3

- name: Extract product details from parcel manifests
  ansible.builtin.set_fact:
    products: >
      {{ manifests.results
      | map(attribute='json')
      | list
      | cloudera.cluster.extract_products_from_manifests(os_distribution=cluster_os_distribution)
      | dict2items(key_name='product', value_name='version')
      }}
  run_once: true

- name: Extract runtime version from products list
  set_fact:
    cloudera_runtime_version: "{{ products | cloudera.cluster.get_product_version('CDH') }}"
  run_once: true
