
# Created with antsibull-docs 2.3.1.post0

breadcrumbs = true
indexes = true
use_html_blobs = false

# You can specify ways to convert a collection name (<namespace>.<name>) to an URL here.
# You can replace either of <namespace> or <name> by "*" to match all values in that place,
# or use "*" for the collection name to match all collections. In the URL, you can use
# {namespace} and {name} for the two components of the collection name. If you want to use
# "{" or "}" in the URL, write "{{" or "}}" instead. Basically these are Python format
# strings (https://docs.python.org/3.8/library/string.html#formatstrings).
collection_url = {
  * = "https://github.com/cloudera-labs/{namespace}.{name}"
}

# The same wildcard rules and formatting rules as for collection_url apply.
collection_install = {
  * = "ansible-galaxy collection install git+https://github.com/cloudera-labs/{namespace}.{name}.git"
}

logging_cfg = {
  version = 1.0
  outputs = {
    logfile = {
      output = twiggy.outputs.FileOutput
      args = [
        ./antsibull.log
      ]
    }
    stderr = {
      output = twiggy.outputs.StreamOutput
      format = twiggy.formats.shell_format
    }
  }
  emitters = {
    # Log everything a user might be interested in to a log file.
    all = {
      # DEBUG is the most verbose level
      level = DEBUG
      output_name = logfile
    }
    # Log problems to stderr so they can be reported and taken care of.
    problems = {
      level = WARNING
      output_name = stderr
    }
  }
}