{
"items" : [
{%- set host_joiner = joiner(",") -%}
{%- for host in groups['ecs_nodes'] -%}
  {{ host_joiner() }}
  {
    "hostId" : "{{ cloudera_manager_api_hosts[host]['id'] }}"
  }
{%- endfor -%}
]
}
