{
  "location": "",
  "customCA": false,
  "interpretAsFilenames": true,
  "cmHostCert": "",
  "cmHostKey": "",
  "caCert": "",
  "keystorePasswd": "",
  "truststorePasswd": "",
  "trustedCaCerts": "",
  "hostCerts": [],
  "configureAllServices": true,
  "sshPort": 22,
  "userName": "{{ host_ssh_username }}",
  "password": "{{ host_ssh_password }}",
  "privateKey": "",
  "passphrase": ""
}
