{
  "name": "mgmt",
  "displayName": "{{ definition.mgmt.name | default("Cloudera Management Service") }}",
  "type": "MGMT",
  "roles": [
  {%- set role_sep = joiner(",") -%}
  {%- for role in definition.mgmt.services -%}
  {{ role_sep() }}
    {
      "name": "mgmt-{{ role }}",
      "type": "{{ role }}",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-{{ role }}-BASE"
      },
      "hostRef": {
        "hostId": "{{ mgmt_service_api_host_id }}"
      }
    }
  {%- endfor -%}
  ],
  "roleConfigGroups": [
  {%- set role_group_sep = joiner(",") -%}
  {%- for role in definition.mgmt.services -%}
  {{ role_group_sep() }}
    {
      "name": "mgmt-{{ role }}-BASE",
      "roleType": "{{ role }}",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        {%- if merged_configs_mgmt[role] is mapping -%}
        "items": [
        {%- set config_sep = joiner(",") -%}
        {%- for (k,v) in merged_configs_mgmt[role].items() -%}
        {{ config_sep() }}
        {
          "name" : "{{ k | lower }}",
          {# the double to_json filter renders a dict into properly escaped JSON string for the CM API call #}
          {%- if v is mapping -%}
          "value" : {{ v | to_json | to_json }}
          {%- else -%}
          "value" : {{ v | to_json }}
          {%- endif -%}
        }
        {%- endfor -%}
        ]
        {%- else -%}
        "items": []
        {%- endif -%}
      }
    }
  {%- endfor -%}
  ]
}
