---

- name: Deprecation warning
  run_once: true
  cloudera.cluster.deprecation:
    msg: "Role, {{ ansible_role_name }}, is no longer supported."
    version: 6.0.0

- name: Fix Hue ticket lifetime for Free IPA
  shell: |
    kadmin -p "{{ ipa_admin_user }}" -w "{{ ipaadmin_password }}" -q "modprinc -maxrenewlife 90day +allow_renewable hue/{{ __hue_ticket_item }}@{{ krb5_realm }}" ;
    kadmin -p "{{ ipa_admin_user }}" -w "{{ ipaadmin_password }}" -q "modprinc -maxrenewlife 90day krbtgt/{{ krb5_realm }}@{{ krb5_realm }}"  ;
  loop: "{{ groups['all'] }}"
  loop_control:
    loop_var: __hue_ticket_item
  ignore_errors: true
