- ACCUMULO16
- ACCUMULO_C6
- ADLS_CONNECTOR
- ATLAS
- AWS_S3
- CDSW
- CORE_SETTINGS
- CRUISE_CONTROL
- DAS
- FLINK
- FLUME
- HBASE
- HDFS
- HIVE
- HIVE_ON_TEZ
- HUE
- IMPALA
- INFRA_SOLR
- ISILON
- KAFKA
- KEYTRUSTEE
- KEYTRUSTEE_SERVER
- KMS
- KNOX
- KS_INDEXER
- KUDU
- LIVY
- LUNA_KMS
- MAPREDUCE
- NIFI
- NIFIREGISTRY
- NIFITOOLKITCA
- OOZIE
- OZONE
- PHOENIX
- QUEUEMANAGER
- RANGER
- RANGER_KMS
- RANGER_KMS_KTS
- RANGER_RAZ
- SCHEMAREGISTRY
- SENTRY
- SOLR
- SPARK
- SPARK2_ON_YARN
- SPARK3_ON_YARN
- SPARK_ON_YARN
- SQL_STREAM_BUILDER
- SQOOP
- SQOOP_CLIENT
- STREAMS_MESSAGING_MANAGER
- STREAMS_REPLICATION_MANAGER
- TEZ
- THALES_KMS
- WXM
- YARN
- ZEPPELIN
- ZOOKEEPER
